[2018-06-02 13:00] oltdaniel opened #1 "link - whitepaper pdf 404"
https://github.com/zold-io/zold.github.io/blob/master/index.html#L45 has an incorrect link.

[2018-06-02 19:33] yegor256 commented on #1
@oltdaniel fixed already, thanks: b58110983d9a626ecd7bdc99238b95fc2bd8b6b8

[2018-06-02 19:33] #1 closed

[2018-06-02 19:33] yegor256 opened #2 "explain the distribution strategy"
Let's explain ZLD distribution strategy.

[2018-06-04 08:08] yegor256 opened #4 "automate release"
Let's automate it

[2018-06-04 08:10] yegor256 commented on #4
@rultor deploy

[2018-06-04 08:11] rultor commented on #4
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14756-394269991)

[2018-06-04 08:14] rultor commented on #4
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14756-394269991) (spent 3min)

[code]

[2018-06-04 08:15] yegor256 commented on #4
@rultor deploy

[2018-06-04 08:19] rultor commented on #4
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14756-394271458)

[2018-06-04 08:22] rultor commented on #4
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14756-394271458) (took me 3min)

[2018-06-04 08:22] yegor256 opened #5 "map"
Map of nodes

[2018-06-04 08:56] #4 closed

[2018-06-04 09:08] yegor256 commented on #5
@rultor deploy

[2018-06-04 09:08] rultor commented on #5
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14757-394286266)

[2018-06-04 09:11] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14757-394286266) (took me 3min)

[2018-06-04 09:26] #5 closed

[2018-06-04 09:36] yegor256 opened #6 "markers are not visible"
Let's fix

[2018-06-04 09:39] yegor256 commented on #6
@rultor deploy

[2018-06-04 09:41] rultor commented on #6
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14758-394295274)

[2018-06-04 09:44] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14758-394295274) (took me 3min)

[2018-06-04 09:48] #6 closed

[2018-06-04 09:50] yegor256 opened #7 "Grunt instead of build.sh"
Let's use Grunt to build the product. Now we have `build.sh`, which is just a temporary implementation.

[2018-06-04 09:54] yegor256 opened #8 "Variable size of markers at map.html"
Let's make them of a different size, depending on the amount of wallets they contain. The bigger the amount, the larger the marker. But, of course, first we have to put their sizes on some scale, to make sure their sizes are relative.

[2018-06-04 09:56] yegor256 opened #9 "Variable colors of markers at the map"
Let's set different colors to markers, depending on their scores. If less than 4 -- red, if less than 16 -- orange, otherwise -- green.

[2018-06-04 09:57] yegor256 opened #10 "Nodes are not removed from the list"
When/if a node disappears from the JSON at `/remotes`, it is not removed from them `#remotes` list in the HTML. It's a bug (has never been implemented), let's fix.

[2018-06-04 10:14] yegor256 opened #11 "Blink every time we update a node"
Let's blick the item on the list (in `#remotes`) every time we fetch the data from the node in `/map.html`, in order to show that this list is being updated in real-time mode. How exactly we will "blick" is up to the HTML designer.

[2018-06-04 10:17] yegor256 opened #12 "The right panel is not updated immediately"
When I reload `/map.html` the right panel is not updated immediately, but only in 10 seconds. I believe, it's a bug.

[2018-06-04 10:21] 0crat commented on #12
Job [#12](https://github.com/zold-io/zold.github.io/issues/12) is now in scope, role is `DEV`

[2018-06-04 10:21] 0crat commented on #11
Job [#11](https://github.com/zold-io/zold.github.io/issues/11) is now in scope, role is `DEV`

[2018-06-04 10:26] 0crat commented on #10
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 10:26] 0crat commented on #9
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 10:26] 0crat commented on #8
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 10:26] 0crat commented on #7
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 10:26] 0crat commented on #2
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 10:36] 0crat commented on #12
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#12](https://github.com/zold-io/zold.github.io/issues/12); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-04 10:37] 0crat commented on #11
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#11](https://github.com/zold-io/zold.github.io/issues/11); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-04 10:37] 0crat commented on #10
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#10](https://github.com/zold-io/zold.github.io/issues/10); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-04 10:37] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2018-06-04 10:37] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2018-06-04 10:37] 0crat commented on #7
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#7](https://github.com/zold-io/zold.github.io/issues/7); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2018-06-04 10:37] 0crat commented on #2
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#2](https://github.com/zold-io/zold.github.io/issues/2); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2018-06-04 17:38] yegor256 commented on #2
@rultor deploy

[2018-06-04 17:40] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14764-394437493)

[2018-06-04 17:43] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14764-394437493) (took me 3min)

[2018-06-04 17:54] #2 closed

[2018-06-04 17:56] yegor256 opened #13 "Show nodes in a table"
Currently all nodes are listed in `#remotes` as a `<ul>`, which is not convenient to read. Let's use `<table>` instead, with four columns:

  * node address, like `b2.zold.io:4096`
  * node score
  * total number of wallets
  * version of the software

[2018-06-04 17:58] 0crat commented on #13
Job [#13](https://github.com/zold-io/zold.github.io/issues/13) is now in scope, role is `DEV`

[2018-06-04 18:01] 0crat commented on #13
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-04 18:37] 0crat commented on #13
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#13](https://github.com/zold-io/zold.github.io/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-05 13:45] yegor256 commented on #13
@0crat assign @blackout314

[2018-06-05 13:45] yegor256 commented on #11
@0crat assign @blackout314

[2018-06-05 13:46] yegor256 commented on #8
@0crat assign @blackout314

[2018-06-05 13:46] yegor256 commented on #7
@0crat assign @blackout314

[2018-06-05 13:55] 0crat commented on #13
@yegor256 The job [#13](https://github.com/zold-io/zold.github.io/issues/13) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1561353012); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-06-05 13:57] 0crat commented on #11
@yegor256 The job [#11](https://github.com/zold-io/zold.github.io/issues/11) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1561353015); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-06-05 13:58] 0crat commented on #8
@yegor256 The job [#8](https://github.com/zold-io/zold.github.io/issues/8) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1561354019); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-06-05 14:00] 0crat commented on #7
@yegor256 The job [#7](https://github.com/zold-io/zold.github.io/issues/7) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1561354023); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-06-05 14:06] 0crat commented on #7
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 18:00] yegor256 commented on #4
@rultor deploy

[2018-06-05 18:00] rultor commented on #4
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14756-394804094)

[2018-06-05 18:03] rultor commented on #4
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14756-394804094) (took me 3min)

[2018-06-05 19:40] oltdaniel opened #14 "wallet - specify the age of the wallet"
If there is none or a single transaction, the age is 0.
Else it is the hours between the latest and oldest transaction.

[2018-06-05 19:40] 0crat commented on #14
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-05 19:41] 0crat commented on #14
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 07:56] blackout314 commented on #7
how i close this?

[2018-06-06 08:38] yegor256 commented on #7
@blackout314 you ask the ticket reporter to close

[2018-06-06 08:38] #7 closed

[2018-06-06 08:38] yegor256 commented on #7
@rultor deploy

[2018-06-06 08:41] rultor commented on #7
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/14785-394989745)

[2018-06-06 08:44] rultor commented on #7
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14785-394989745) (spent 3min)

[code]

[2018-06-06 08:55] 0crat commented on #7
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @blackout314[/z](https://www.0crat.com/u/blackout314), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-06 08:55] 0crat commented on #7
The job [#7](https://github.com/zold-io/zold.github.io/issues/7) is now out of scope

[2018-06-06 08:57] yegor256 opened #17 ".rultor.yml is broken"
see #7

We are still using `build.sh`. Moreover, version `1.0.0` is hardcoded everywhere in the code. This is wrong. Instead, we should hardcode `0.0.0` and replace it with the real version, like it's done here, for example: https://github.com/zold-io/zold/blob/master/.rultor.yml#L13-L15

Also, let's move our deployment code from `deploy` to `release` section in `.rultor.yml`

[2018-06-06 08:58] yegor256 commented on #17
@0crat assign  @blackout314

[2018-06-06 09:00] 0crat commented on #17
@yegor256 The job [#17](https://github.com/zold-io/zold.github.io/issues/17) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1570904494); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-06-06 09:05] 0crat commented on #17
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 09:05] 0crat commented on #17
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-06 09:14] ypshenychka commented on #7
@blackout314 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/zold-io/zold.github.io/issues/7#issuecomment-394977065) by indicating an addressee in the beginning.

[2018-06-06 09:15] ypshenychka commented on #7
@blackout314 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please reference the corresponding PR in this issue, so everyone's aware where the problem was solved.

[2018-06-06 11:24] blackout314 commented on #7
@ypshenychka the PR replace build.sh with FE building of source for deploy artifact

[2018-06-06 11:49] blackout314 commented on #17
@yegor256 i add dynamic replace of "@@VERSION" and we dont need "SNAPSHOT" style task

[2018-06-06 17:12] ypshenychka commented on #7
@blackout314 Thanks.

[2018-06-06 17:12] ypshenychka commented on #7
@0crat quality acceptable

[2018-06-06 17:13] 0crat commented on #7
Order was finished, quality is "acceptable": +30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-06 17:14] 0crat commented on #7
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-07 07:44] oltdaniel opened #19 "map - show error messages on the screen"
Currently, the user cannot see if the error is on his side or on the node side. We should display some messages on the screen.

[2018-06-07 07:44] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-07 07:44] 0crat commented on #19
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-07 09:19] blackout314 commented on #8
@yegor256 we can use custom pin with Z image? with default pins we cant change size

[2018-06-10 09:37] 0crat commented on #2
The job [#2](https://github.com/zold-io/zold.github.io/issues/2) is now out of scope

[2018-06-10 14:36] 0crat commented on #13
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 14:37] 0crat commented on #11
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 15:38] 0crat commented on #8
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-11 11:35] 0crat commented on #17
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-11 20:48] yegor256 commented on #17
@blackout314 thanks

[2018-06-11 20:48] #17 closed

[2018-06-11 20:49] 0crat commented on #19
Job [#19](https://github.com/zold-io/zold.github.io/issues/19) is now in scope, role is `DEV`

[2018-06-11 20:49] 0crat commented on #19
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2018-06-11 20:49] yegor256 commented on #14
@oltdaniel is it a bug in the White Paper? If so, please submit it to: https://github.com/zold-io/papers

[2018-06-11 20:49] #14 closed

[2018-06-11 21:05] 0crat commented on #17
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @blackout314[/z](https://www.0crat.com/u/blackout314), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-11 21:05] 0crat commented on #17
The job [#17](https://github.com/zold-io/zold.github.io/issues/17) is now out of scope

[2018-06-11 21:05] 0crat commented on #14
The job is not in WBS, won't close the order

[2018-06-11 21:05] 0crat commented on #14
Job `gh:zold-io/zold.github.io#14` is not assigned, can't get performer

[2018-06-11 21:34] yegor256 commented on #8
@blackout314 yes, sure, let's do that

[2018-06-12 07:41] ypshenychka commented on #17
@0crat quality good

[2018-06-12 07:42] 0crat commented on #17
Order was finished, quality is "good": +35 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-12 07:42] 0crat commented on #17
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-12 08:27] blackout314 commented on #17
@ypshenychka 👍

[2018-06-12 15:46] blackout314 opened #22 "[BUG] rultor stucked on copy"
http://www.rultor.com/t/14888-396621305

[code]

[2018-06-12 16:46] 0crat commented on #22
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 14:38] yegor256 commented on #22
@blackout314 this is still a bug of fixed already?

[2018-06-13 14:40] yegor256 commented on #22
@blackout314 I will fix the script now

[2018-06-13 15:06] blackout314 commented on #13
@yegor256 after fix #22 this can go online

[2018-06-13 15:14] yegor256 commented on #22
@rultor release, tag is `0.1.0`

[2018-06-13 15:16] rultor commented on #22
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14906-396974535)

[2018-06-13 15:22] rultor commented on #22
@blackout314 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14906-396974535) (spent 5min)

[code]

[2018-06-13 15:27] rultor commented on #22
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14906-396978213)

[2018-06-13 15:33] rultor commented on #22
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14906-396978213) (took me 5min)

[2018-06-13 15:45] #22 closed

[2018-06-13 15:45] yegor256 opened #23 "make sure the directory is clean before pushing"
Clean it before pushing

[2018-06-13 15:52] yegor256 commented on #23
@rultor release, tag is `0.1.1`

[2018-06-13 15:54] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14907-396988990)

[2018-06-13 16:00] rultor commented on #23
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14907-396988990) (took me 5min)

[2018-06-13 16:01] 0crat commented on #22
The job is not in WBS, won't close the order

[2018-06-13 16:01] 0crat commented on #22
Job `gh:zold-io/zold.github.io#22` is not assigned, can't get performer

[2018-06-13 16:09] yegor256 opened #24 "copy is broken"
Let's fix

[2018-06-13 16:11] yegor256 commented on #24
@rultor release, tag is `0.1.2`

[2018-06-13 16:11] #23 closed

[2018-06-13 16:12] rultor commented on #24
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14908-396996023)

[2018-06-13 16:14] yegor256 opened #25 "make the map 100% big and put the table into a float"
Let's put the Google map to the full page, 100% width and height. The list of nodes should go left, into a float. When on mobile, the map should disappear and the list should be 100% width.

[2018-06-13 16:16] 0crat commented on #25
Job [#25](https://github.com/zold-io/zold.github.io/issues/25) is now in scope, role is `DEV`

[2018-06-13 16:18] rultor commented on #24
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14908-396996023) (took me 5min)

[2018-06-13 16:18] 0crat commented on #25
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-13 16:20] #24 closed

[2018-06-13 16:28] 0crat commented on #23
The job is not in WBS, won't close the order

[2018-06-13 16:28] 0crat commented on #23
Job `gh:zold-io/zold.github.io#23` is not assigned, can't get performer

[2018-06-13 16:36] 0crat commented on #24
The job is not in WBS, won't close the order

[2018-06-13 16:36] 0crat commented on #24
Job `gh:zold-io/zold.github.io#24` is not assigned, can't get performer

[2018-06-13 16:48] yegor256 commented on #13
@blackout314 thanks!

[2018-06-13 16:48] #13 closed

[2018-06-13 17:08] 0crat commented on #13
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @blackout314[/z](https://www.0crat.com/u/blackout314), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-13 17:08] 0crat commented on #13
The job [#13](https://github.com/zold-io/zold.github.io/issues/13) is now out of scope

[2018-06-13 17:16] ypshenychka commented on #13
@blackout314 Could you please confirm that this job was closed without a solution provided (as far as it was fixed in another issue)?

[2018-06-13 17:17] 0crat commented on #12
The job [#12](https://github.com/zold-io/zold.github.io/issues/12) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1641726929); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-14 06:48] yegor256 opened #26 "sort nodes by their score in the table"
Let's sort them by the score, in the table in `/map.html`

[2018-06-14 06:49] 0crat commented on #26
Job [#26](https://github.com/zold-io/zold.github.io/issues/26) is now in scope, role is `DEV`

[2018-06-14 06:49] 0crat commented on #26
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 06:51] yegor256 opened #27 "/ledger.html"
Let's create a new HTML page `/ledger.html`. It will get the HTTP query param `wallet`, download the wallet from `b1.zold.io/wallet/ID` and list all transactions in HTML table. Then, the user will click any wallet ID (the beneficiary) and just to a new page `/ledger.html?wallet=...` and will see its ledger. There should be a `back` button too.

Thus, this page will let us go through the entire led

[2018-06-14 06:51] 0crat commented on #27
Job [#27](https://github.com/zold-io/zold.github.io/issues/27) is now in scope, role is `DEV`

[2018-06-14 06:51] 0crat commented on #27
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 06:58] yegor256 opened #28 "mark expired scores"
Sometimes a score may be expired. There is a flag in JSON: `score/expired`. If it is set to `true`, let's mark it somehow in the table: `/map.html`. Maybe with `text-decoration:line-through`

[2018-06-14 06:59] 0crat commented on #28
Job [#28](https://github.com/zold-io/zold.github.io/issues/28) is now in scope, role is `DEV`

[2018-06-14 06:59] 0crat commented on #28
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 16:52] ypshenychka commented on #13
@blackout314 ping

[2018-06-14 17:40] yegor256 opened #29 "layout fix"

[2018-06-14 17:41] yegor256 commented on #29
@rultor release, tag is `0.1.3`

[2018-06-14 17:43] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14926-397379076)

[2018-06-14 17:49] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14926-397379076) (took me 5min)

[2018-06-14 17:51] #29 closed

[2018-06-14 18:07] 0crat commented on #29
The job is not in WBS, won't close the order

[2018-06-14 18:07] 0crat commented on #29
Job `gh:zold-io/zold.github.io#29` is not assigned, can't get performer

[2018-06-15 07:34] yegor256 opened #30 "add links to nodes in the table"
Let's turn them into links, in `/map.html`. Now they are just texts, would be better to have an ability to click any of them.

[2018-06-15 07:35] 0crat commented on #30
Job [#30](https://github.com/zold-io/zold.github.io/issues/30) is now in scope, role is `DEV`

[2018-06-15 08:13] blackout314 commented on #13
@ypshenychka yes is cloed

[2018-06-15 08:15] blackout314 commented on #30
@yegor256 is trivial, if want i can do fast

[2018-06-15 08:15] ypshenychka commented on #13
@blackout314 I mean that no solution was provided directly in this job and no work was done by you, right?

[2018-06-15 08:56] blackout314 commented on #11
@yegor256 travis need `npm start`

[2018-06-15 10:03] ypshenychka commented on #13
@blackout314 Why then there is no associated PR where you're creating a table?

[2018-06-15 10:04] blackout314 commented on #13
@ypshenychka
https://i.imgur.com/w9Ejgit.png

[2018-06-15 10:20] blackout314 commented on #12
@yegor256 we cant fix this, we need to cache it because is BE slow (4-5 sec for response)

[2018-06-15 11:01] yegor256 opened #34 "sass-lint"
Let's add sass-lint to the build: https://www.npmjs.com/package/sass-lint

[2018-06-15 11:01] yegor256 opened #35 "jslint"
Let's add jslint to the build: https://www.npmjs.com/package/jslint

[2018-06-15 11:03] 0crat commented on #34
Job [#34](https://github.com/zold-io/zold.github.io/issues/34) is now in scope, role is `DEV`

[2018-06-15 11:03] 0crat commented on #35
Job [#35](https://github.com/zold-io/zold.github.io/issues/35) is now in scope, role is `DEV`

[2018-06-15 11:08] 0crat commented on #35
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 11:08] 0crat commented on #34
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-15 11:35] blackout314 commented on #34
@yegor256 i can do this

[2018-06-15 11:35] blackout314 commented on #35
@yegor256 i can do this

[2018-06-15 11:51] ypshenychka commented on #13
@blackout314 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please confirm next time you will reference the issue in Pull Request so that is is visible here.

[2018-06-15 12:04] blackout314 commented on #13
@ypshenychka mmm ok, sorry

[2018-06-15 12:40] amihaiemil opened #36 "map.html mixed content"
Currently on the ``/map.html`` page, I get an ``Mixed content`` error, because the page tries make an XMLHttpRequest to an endpoint over ``http://`` (the page is loaded over ``https://``)

![image](https://user-images.githubusercontent.com/6305156/41468379-76e6451e-70b2-11e8-822b-0502580a34df.png)

OS: win 7
Broser: Google Chrome, latest

[2018-06-15 12:41] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-15 13:50] 0crat commented on #11
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#11](https://github.com/zold-io/zold.github.io/issues/11), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-15 13:50] 0crat commented on #11
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-15 13:50] 0crat commented on #8
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#8](https://github.com/zold-io/zold.github.io/issues/8), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-15 13:50] 0crat commented on #8
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-15 14:28] blackout314 commented on #8
@yegor256 i work on this? 0crat said no

[2018-06-15 17:16] yegor256 commented on #36
@amihaiemil you should open `/map.html` in HTTP only. I think we should redirect if it's opened in HTTPS.

[2018-06-15 17:17] yegor256 commented on #34
@0crat assign @blackout314

[2018-06-15 17:18] yegor256 commented on #11
@blackout314 please, report issues separately. If you see a bug in our code, please create a new ticket. Otherwise, your comments will simply be lost/ignored.

[2018-06-15 17:18] 0crat commented on #36
Job [#36](https://github.com/zold-io/zold.github.io/issues/36) is now in scope, role is `DEV`

[2018-06-15 17:19] amihaiemil commented on #36
@yegor256 what? Why would you use HTTP only? You are supposed to use HTTPS only :)

[2018-06-15 17:20] 0crat commented on #34
@yegor256 The job [#34](https://github.com/zold-io/zold.github.io/issues/34) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1661728574); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-06-15 19:48] yegor256 commented on #36
@amihaiemil our nodes don't support HTTPS as of yet: https://github.com/zold-io/zold/issues/140 That's why Chrome complains when an HTTPS page is trying to load HTTP resources. The only solution for now is to load /map in HTTP.

[2018-06-15 20:51] ypshenychka commented on #13
@blackout314 Thank you.

[2018-06-15 20:51] ypshenychka commented on #13
@0crat quality acceptable

[2018-06-15 21:01] 0crat commented on #13
Order was finished, quality is "acceptable": +30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-15 21:01] 0crat commented on #13
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-16 05:17] yegor256 commented on #30
@0crat assign @blackout314

[2018-06-16 05:17] yegor256 commented on #35
@0crat assign @blackout314

[2018-06-16 05:17] 0crat commented on #30
@yegor256 The job [#30](https://github.com/zold-io/zold.github.io/issues/30) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1670549184); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-06-16 05:19] 0crat commented on #30
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-16 05:19] 0crat commented on #35
@yegor256 The job [#35](https://github.com/zold-io/zold.github.io/issues/35) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1670550241); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-06-16 05:19] 0crat commented on #35
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-16 07:45] blackout314 commented on #11
@yegor256 ok i report a issue for `npm`
this task anyway (blink) is completed

[2018-06-16 07:46] blackout314 opened #37 "travis need npm start"
we miss `npm start` for travis

[2018-06-16 07:46] 0crat commented on #37
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-16 07:47] blackout314 commented on #30
@yegor256 fixed in merged PR #32

[2018-06-16 07:50] blackout314 commented on #12
@yegor256 ok

[2018-06-16 07:56] blackout314 commented on #8
@yegor256 i know, but if task isnt clear or complete i need to wait for more info...

[2018-06-16 08:42] blackout314 commented on #35
@yegor256 jslint is old and unmant - i've installed standard `grunt-contrib-jshint`

[2018-06-16 15:36] yegor256 commented on #11
@blackout314 thanks!

[2018-06-16 15:36] #11 closed

[2018-06-16 15:36] yegor256 commented on #11
@rultor release, tag is `0.2.0`

[2018-06-16 15:37] yegor256 commented on #30
@blackout314 I don't think it's fixed yet...

[2018-06-16 15:37] yegor256 commented on #35
@blackout314 cool, thanks

[2018-06-16 15:37] #35 closed

[2018-06-16 15:43] yegor256 commented on #37
@blackout314 it's clean now, thanks: https://travis-ci.org/zold-io/zold.github.io

[2018-06-16 15:43] #37 closed

[2018-06-16 15:45] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14950-397820186)

[2018-06-16 15:50] rultor commented on #11
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14950-397820186) (took me 5min)

[2018-06-16 15:52] 0crat commented on #11
Job `gh:zold-io/zold.github.io#11` is not assigned, can't get performer

[2018-06-16 15:52] 0crat commented on #11
The job [#11](https://github.com/zold-io/zold.github.io/issues/11) is now out of scope

[2018-06-16 15:53] 0crat commented on #35
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @blackout314[/z](https://www.0crat.com/u/blackout314), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-16 15:53] 0crat commented on #35
The job [#35](https://github.com/zold-io/zold.github.io/issues/35) is now out of scope

[2018-06-16 16:00] 0crat commented on #37
The job is not in WBS, won't close the order

[2018-06-16 16:00] 0crat commented on #37
Job `gh:zold-io/zold.github.io#37` is not assigned, can't get performer

[2018-06-16 17:21] blackout314 commented on #37
@yegor256 great 👯

[2018-06-16 18:01] blackout314 opened #41 "add jasmine for tdd on javascript"
todo

[2018-06-16 18:01] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-16 20:03] 0crat commented on #41
Job [#41](https://github.com/zold-io/zold.github.io/issues/41) is now in scope, role is `DEV`

[2018-06-16 20:04] 0crat commented on #41
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-17 05:13] yegor256 opened #42 "show error when the header of the map can't load"
Let's show something when we can't load the header. Now we are just staying quiet.

[2018-06-17 05:13] 0crat commented on #42
Job [#42](https://github.com/zold-io/zold.github.io/issues/42) is now in scope, role is `DEV`

[2018-06-17 05:13] 0crat commented on #42
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-17 05:32] ypshenychka commented on #35
@0crat quality good

[2018-06-17 05:33] 0crat commented on #35
Order was finished, quality is "good": +35 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-17 05:33] 0crat commented on #35
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-17 09:21] blackout314 commented on #34
@yegor256 this task --> closed

[2018-06-17 09:21] blackout314 commented on #30
@yegor256 this task?

[2018-06-17 09:21] blackout314 commented on #12
@yegor256 this task -> merged (closed)

[2018-06-17 21:14] yegor256 commented on #34
@blackout314 thanks!

[2018-06-17 21:14] #34 closed

[2018-06-17 21:14] yegor256 commented on #34
@rultor release, tag is `0.3.0`

[2018-06-17 21:15] yegor256 commented on #30
@blackout314 right, thanks

[2018-06-17 21:15] #30 closed

[2018-06-17 21:15] rultor commented on #34
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14966-397907037)

[2018-06-17 21:15] yegor256 commented on #12
@blackout314 thanks!

[2018-06-17 21:15] #12 closed

[2018-06-17 21:20] rultor commented on #34
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14966-397907037) (took me 5min)

[2018-06-17 21:29] 0crat commented on #34
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @blackout314[/z](https://www.0crat.com/u/blackout314), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-17 21:29] 0crat commented on #34
The job [#34](https://github.com/zold-io/zold.github.io/issues/34) is now out of scope

[2018-06-17 21:30] 0crat commented on #30
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @blackout314[/z](https://www.0crat.com/u/blackout314), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-17 21:30] 0crat commented on #30
The job [#30](https://github.com/zold-io/zold.github.io/issues/30) is now out of scope

[2018-06-17 21:30] 0crat commented on #12
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @blackout314[/z](https://www.0crat.com/u/blackout314), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-17 21:30] 0crat commented on #12
The job [#12](https://github.com/zold-io/zold.github.io/issues/12) is now out of scope

[2018-06-17 21:35] 0crat commented on #10
The job [#10](https://github.com/zold-io/zold.github.io/issues/10) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1682153945); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-17 21:38] 0crat commented on #19
The job [#19](https://github.com/zold-io/zold.github.io/issues/19) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1682155997); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-17 21:41] 0crat commented on #25
The job [#25](https://github.com/zold-io/zold.github.io/issues/25) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1682159105); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-18 05:43] ypshenychka commented on #12
@0crat quality good

[2018-06-18 05:44] ypshenychka commented on #34
@0crat quality good

[2018-06-18 05:44] 0crat commented on #12
Order was finished, quality is "good": +35 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-18 05:44] 0crat commented on #12
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-18 05:45] 0crat commented on #34
Order was finished, quality is "good": +35 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-18 05:45] 0crat commented on #34
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-18 07:41] ypshenychka commented on #30
@0crat quality good

[2018-06-18 07:42] 0crat commented on #30
Order was finished, quality is "good": +35 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-18 07:42] 0crat commented on #30
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-06-18 08:44] yegor256 commented on #25
@blackout314 description changed

[2018-06-18 10:55] yegor256 opened #43 "security vulnerability"
GitHub shows this:

<img width="1025" alt="screen shot 2018-06-18 at 1 54 55 pm" src="https://user-images.githubusercontent.com/526301/41532334-42cf8d2c-72ff-11e8-8cc5-2590b952fc13.png">

Let's investigate and get rid of this.

[2018-06-18 10:56] 0crat commented on #43
Job [#43](https://github.com/zold-io/zold.github.io/issues/43) is now in scope, role is `DEV`

[2018-06-18 10:56] yegor256 commented on #43
@blackout314 here:

<img width="781" alt="screen shot 2018-06-18 at 1 55 55 pm" src="https://user-images.githubusercontent.com/526301/41532366-624c8196-72ff-11e8-8628-b09327dd8dfe.png">

[2018-06-18 10:56] 0crat commented on #43
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 10:56] yegor256 commented on #43
@0crat assign @blackout314

[2018-06-18 10:57] 0crat commented on #43
@yegor256 The job [#43](https://github.com/zold-io/zold.github.io/issues/43) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1691059413); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-06-18 10:57] 0crat commented on #43
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 11:12] blackout314 commented on #43
@yegor256 i fix this asap

[2018-06-18 12:15] blackout314 commented on #43
@yegor256
little problem

[code]

node-sass >> https://github.com/sass/node-sass/releases use this old version of hoek

[2018-06-18 12:35] blackout314 commented on #43
@yegor256 done it

[2018-06-18 13:33] blackout314 commented on #19
@oltdaniel isnt clear, what message mean
please give me example

[2018-06-18 14:17] oltdaniel commented on #19
@blackout314 Error messages like connection error or timeouts should be displayed.

[2018-06-19 08:02] yegor256 opened #45 "warning message"

[2018-06-19 08:07] yegor256 commented on #45
@rultor release, tag is `0.3.1`

[2018-06-19 08:08] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14989-398312318)

[2018-06-19 08:12] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14989-398312318) (took me 3min)

[2018-06-19 08:20] blackout314 commented on #43
@yegor256 you can close this

[2018-06-19 08:22] blackout314 commented on #8
@yegor256 if want i do this, reassign me.. either i'm unsubscribe this

[2018-06-19 08:25] yegor256 opened #46 "funding button"
Let's add funding button

[2018-06-19 08:29] yegor256 commented on #46
@rultor release, tag is `0.3.2`

[2018-06-19 08:31] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14993-398318557)

[2018-06-19 08:34] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14993-398318557) (took me 3min)

[2018-06-19 08:35] #46 closed

[2018-06-19 08:41] 0crat commented on #45
The job is not in WBS, won't close the order

[2018-06-19 08:41] 0crat commented on #45
Job `gh:zold-io/zold.github.io#45` is not assigned, can't get performer

[2018-06-19 08:53] 0crat commented on #46
The job is not in WBS, won't close the order

[2018-06-19 08:53] 0crat commented on #46
Job `gh:zold-io/zold.github.io#46` is not assigned, can't get performer

[2018-06-20 06:24] yegor256 opened #47 "new location of White Paper pdf"
Let's fix it

[2018-06-20 06:27] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15004-398638091)

[2018-06-20 06:33] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15004-398638091) (took me 5min)

[2018-06-20 07:11] #47 closed

[2018-06-20 07:12] yegor256 commented on #47
@rultor release, tag is `0.3.4`

[2018-06-20 07:14] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15004-398648174)

[2018-06-20 07:20] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15004-398648174) (took me 6min)

[2018-06-20 07:27] 0crat commented on #47
The job is not in WBS, won't close the order

[2018-06-20 07:27] 0crat commented on #47
Job `gh:zold-io/zold.github.io#47` is not assigned, can't get performer

[2018-06-21 16:22] yegor256 commented on #43
@blackout314 thanks

[2018-06-21 16:22] #43 closed

[2018-06-21 20:33] 0crat commented on #43
Quality review for [#43](https://github.com/zold-io/zold.github.io/issues/43) already exists

[2018-06-21 20:33] 0crat commented on #43
The job [#43](https://github.com/zold-io/zold.github.io/issues/43) is now out of scope

[2018-06-23 04:36] 0crat commented on #10
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-23 04:36] 0crat commented on #19
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-23 09:37] 0crat commented on #25
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-23 13:20] alex-semenyuk opened #48 "Error in browser console on map.html"
Got the following message in browser console on map.html:

Suppose that need to use  CORS Anywhere how it is described here https://ourcodeworld.com/articles/read/73/how-to-bypass-access-control-allow-origin-error-with-xmlhttprequest-jquery-ajax-

[2018-06-23 13:20] 0crat commented on #48
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-23 13:20] 0crat commented on #48
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-24 06:01] yegor256 opened #49 "/fetch.html"
Let's create a new HTML/JS page `/fetch.html`, which will fetch wallets from all visible nodes and show their sizes and balances. Similar to what is happening in the command line, but in web.

[2018-06-24 06:01] 0crat commented on #49
Job [#49](https://github.com/zold-io/zold.github.io/issues/49) is now in scope, role is `DEV`

[2018-06-24 06:01] 0crat commented on #49
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 08:10] yegor256 commented on #8
@blackout314 if you need to wait for some time, you have to inform Zerocrat, see: http://www.zerocracy.com/policy.html#9

[2018-06-24 13:11] yegor256 opened #50 "/balance.html"
Let's create a new web page `/balance.hml` which will be similar to https://ethereum.org/ether. You enter your wallet ID and it fetches the wallet from a number or nodes and shows the balance.

[2018-06-25 06:59] yegor256 commented on #25
@rultor release, tag is `0.3.5`

[2018-06-25 07:01] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15080-399851889)

[2018-06-25 07:07] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15080-399851889) (took me 5min)

[2018-06-25 07:10] yegor256 commented on #25
@blackout314 it's possible to move the map outside of the screen. I believe it's possible prevent this from happening:

<img width="1148" alt="screen shot 2018-06-25 at 10 08 45 am" src="https://user-images.githubusercontent.com/526301/41835329-dc323716-785f-11e8-8edb-4f0d6c410918.png">

Also, no mobile the gray area has unequal borders on top, left, and right:

![img_1417](https://user-images.git

[2018-06-25 07:59] blackout314 commented on #25
@yegor256 for mobile, ok
for map, the problem is the zoom

[2018-06-25 12:38] blackout314 commented on #25
@yegor256 i'll open another PR

[2018-06-27 15:53] blackout314 opened #55 "trivial - zold logo in map not visible"
move logo

![](https://i.imgur.com/NuGMPqs.png)

[2018-06-27 15:53] 0crat commented on #55
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-27 21:38] 0crat commented on #10
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#10](https://github.com/zold-io/zold.github.io/issues/10), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-27 21:38] 0crat commented on #10
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-27 21:41] 0crat commented on #19
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#19](https://github.com/zold-io/zold.github.io/issues/19), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-27 21:41] 0crat commented on #19
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-27 21:41] 0crat commented on #9
The job [#9](https://github.com/zold-io/zold.github.io/issues/9) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1782143581); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-06-27 21:46] 0crat commented on #25
The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#25](https://github.com/zold-io/zold.github.io/issues/25), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-27 21:46] 0crat commented on #25
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2018-06-27 21:46] 0crat commented on #26
The job [#26](https://github.com/zold-io/zold.github.io/issues/26) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1782148653); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-27 21:50] 0crat commented on #27
The job [#27](https://github.com/zold-io/zold.github.io/issues/27) assigned to @blackout314[/z](https://www.0crat.com/u/blackout314), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/1782153722); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-06-29 06:09] blackout314 commented on #26
@yegor256 remove me from this task

[2018-06-29 06:10] blackout314 commented on #27
@yegor256 remove me from this task

[2018-06-29 06:11] blackout314 commented on #9
@yegor256 remove me from this task

[2018-06-29 06:17] yegor256 commented on #26
@0crat refuse

[2018-06-29 06:17] yegor256 commented on #9
@0crat refuse

[2018-06-29 06:17] 0crat commented on #26
@yegor256 The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#26](https://github.com/zold-io/zold.github.io/issues/26), please stop working. Reason for job resignation: Order was cancelled

[2018-06-29 06:36] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#36](https://github.com/zold-io/zold.github.io/issues/36); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-29 06:52] yegor256 commented on #27
@0crat refuse

[2018-06-29 06:53] 0crat commented on #27
@yegor256 The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#27](https://github.com/zold-io/zold.github.io/issues/27), please stop working. Reason for job resignation: Order was cancelled

[2018-07-02 22:38] 0crat commented on #9
@blackout314[/z](https://www.0crat.com/u/blackout314) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 06:58] blackout314 commented on #9
@yegor256 seems bugged

[2018-07-03 06:59] 0crat commented on #9
@yegor256 The user @blackout314[/z](https://www.0crat.com/u/blackout314) resigned from [#9](https://github.com/zold-io/zold.github.io/issues/9), please stop working. Reason for job resignation: Order was cancelled

[2018-07-04 08:37] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#36](https://github.com/zold-io/zold.github.io/issues/36); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-07-08 11:13] yegor256 opened #57 "link to blog"

[2018-07-08 11:14] yegor256 commented on #57
@rultor release, tag is `0.3.6`

[2018-07-08 11:15] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15256-403280333)

[2018-07-08 11:20] rultor commented on #57
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15256-403280333) (took me 5min)

[2018-07-09 09:39] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#36](https://github.com/zold-io/zold.github.io/issues/36); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-07-13 09:55] #57 closed

[2018-07-13 09:56] yegor256 opened #58 "/health.html"
Let's make a summary table with all nodes and their health.

[2018-07-13 10:10] 0crat commented on #57
The job is not in WBS, won't close the order

[2018-07-13 10:10] 0crat commented on #57
Job `gh:zold-io/zold.github.io#57` is not assigned, can't get performer

[2018-07-13 11:17] yegor256 commented on #58
@rultor release, tag is `0.4.0`

[2018-07-13 11:19] rultor commented on #58
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15348-404804274)

[2018-07-13 11:31] yegor256 opened #59 "redirect to HTTP"
Let's force HTTP

[2018-07-13 11:32] yegor256 commented on #59
@rultor release, tag is `0.4.1`

[2018-07-13 11:34] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15349-404807203)

[2018-07-13 11:39] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15349-404807203) (took me 5min)

[2018-07-13 11:42] 0crat commented on #58
The job is not in WBS, won't close the order

[2018-07-13 11:42] 0crat commented on #58
Job `gh:zold-io/zold.github.io#58` is not assigned, can't get performer

[2018-07-13 11:46] #59 closed

[2018-07-13 12:01] 0crat commented on #59
The job is not in WBS, won't close the order

[2018-07-13 12:01] 0crat commented on #59
Job `gh:zold-io/zold.github.io#59` is not assigned, can't get performer

[2018-07-13 12:20] yegor256 opened #60 "show recent ping time"

[2018-07-13 12:33] yegor256 commented on #60
@rultor release, tag is `0.4.2`

[2018-07-13 12:34] yegor256 opened #61 "sass-lint should fail the build on warnings"
At the moment it just reports warnings and the build passes. There is no point in it, with the current configuration. It should fail the build instead.

[2018-07-13 12:34] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15351-404820332)

[2018-07-13 12:40] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15351-404820332) (took me 5min)

[2018-07-13 12:41] #60 closed

[2018-07-13 12:57] 0crat commented on #60
The job is not in WBS, won't close the order

[2018-07-13 12:57] 0crat commented on #60
Job `gh:zold-io/zold.github.io#60` is not assigned, can't get performer

[2018-07-14 12:41] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#36](https://github.com/zold-io/zold.github.io/issues/36); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-07-15 06:49] yegor256 opened #63 "show wallet presence"
Let's show presences of the wallet

[2018-07-15 18:49] yegor256 commented on #63
@rultor release, tag is `0.4.3`

[2018-07-15 18:52] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15361-405110225)

[2018-07-15 18:58] rultor commented on #63
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15361-405110225) (took me 5min)

[2018-07-15 19:02] #63 closed

[2018-07-15 22:32] 0crat commented on #63
The job is not in WBS, won't close the order

[2018-07-15 22:32] 0crat commented on #63
Job `gh:zold-io/zold.github.io#63` is not assigned, can't get performer

[2018-07-16 08:21] yegor256 opened #64 "layout fixes"

[2018-07-16 08:31] rultor commented on #64
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15370-405178296) (took me 3min)

[2018-07-16 11:13] #64 closed

[2018-07-16 11:28] yegor256 opened #65 "spinner"

[2018-07-16 11:55] 0crat commented on #64
Job `gh:zold-io/zold.github.io#64` is not assigned, can't get performer

[2018-07-16 11:55] 0crat commented on #64
The job is not in WBS, won't close the order

[2018-07-16 12:00] yegor256 commented on #65
@rultor release, tag is `0.4.5`

[2018-07-16 12:01] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15374-405224585)

[2018-07-16 12:05] rultor commented on #65
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15374-405224585) (took me 3min)

[2018-07-16 12:24] #65 closed

[2018-07-16 12:39] 0crat commented on #65
The job is not in WBS, won't close the order

[2018-07-16 12:39] 0crat commented on #65
Job `gh:zold-io/zold.github.io#65` is not assigned, can't get performer

[2018-07-16 14:49] yegor256 opened #66 "speed"

[2018-07-16 15:11] yegor256 commented on #66
@rultor release, tag is `0.4.6`

[2018-07-16 15:13] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15384-405280647)

[2018-07-16 15:19] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15384-405280647) (took me 5min)

[2018-07-16 15:21] #66 closed

[2018-07-16 15:39] 0crat commented on #66
Job `gh:zold-io/zold.github.io#66` is not assigned, can't get performer

[2018-07-16 15:39] 0crat commented on #66
The job is not in WBS, won't close the order

[2018-07-19 13:42] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#36](https://github.com/zold-io/zold.github.io/issues/36); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-07-20 14:44] yegor256 opened #67 "summary stats"
Let's show summary stats at `/health.html`

[2018-07-21 06:32] rultor commented on #67
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15439-406774283) (took me 5min)

[2018-07-21 06:36] #67 closed

[2018-07-21 06:53] 0crat commented on #67
Job `gh:zold-io/zold.github.io#67` is not assigned, can't get performer

[2018-07-21 06:53] 0crat commented on #67
The job is not in WBS, won't close the order

[2018-07-23 06:22] yegor256 opened #68 "avg wallet processing speed"

[2018-07-23 06:54] yegor256 commented on #68
@rultor release, tag is `0.6.0`

[2018-07-23 06:56] rultor commented on #68
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15454-406958159)

[2018-07-23 07:01] rultor commented on #68
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15454-406958159) (took me 5min)

[2018-07-23 07:03] #68 closed

[2018-07-23 07:18] 0crat commented on #68
Job `gh:zold-io/zold.github.io#68` is not assigned, can't get performer

[2018-07-23 07:18] 0crat commented on #68
The job is not in WBS, won't close the order

[2018-07-24 05:40] 0crat commented on #36
Job `gh:zold-io/zold.github.io#36` is not assigned, can't get performer

[2018-07-24 05:40] 0crat commented on #36
The job [#36](https://github.com/zold-io/zold.github.io/issues/36) is now out of scope

[2018-07-25 11:34] yegor256 opened #69 "remove the banner"

[2018-07-25 11:34] yegor256 commented on #69
@rultor release, tag is `0.6.1`

[2018-07-25 11:34] #69 closed

[2018-07-25 11:36] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15475-407724000)

[2018-07-25 11:40] rultor commented on #69
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15475-407724000) (took me 3min)

[2018-07-25 11:54] 0crat commented on #69
The job is not in WBS, won't close the order

[2018-07-25 12:06] 0crat commented on #69
Job `gh:zold-io/zold.github.io#69` is not assigned, can't get performer

[2018-07-26 20:47] yegor256 opened #70 "colors are broken"

[2018-07-26 20:51] yegor256 commented on #70
@rultor release, tag is `0.6.2`

[2018-07-26 20:53] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15496-408231085)

[2018-07-26 20:59] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15496-408231085) (took me 5min)

[2018-07-27 05:12] #70 closed

[2018-07-27 05:38] 0crat commented on #70
Job `gh:zold-io/zold.github.io#70` is not assigned, can't get performer

[2018-07-27 05:38] 0crat commented on #70
The job is not in WBS, won't close the order

[2018-07-27 05:41] yegor256 opened #71 "additional links"

[2018-07-27 05:55] yegor256 commented on #71
@rultor release, tag `0.6.3`

[2018-07-27 05:57] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15497-408319371)

[2018-07-27 05:57] rultor commented on #71
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15497-408319371) (spent 21s)

[code]

[2018-07-27 06:04] yegor256 commented on #71
@rultor release, tag is `0.6.3`

[2018-07-27 06:06] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15497-408320641)

[2018-07-27 06:12] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15497-408320641) (took me 5min)

[2018-07-27 06:16] #71 closed

[2018-07-27 06:34] 0crat commented on #71
Job `gh:zold-io/zold.github.io#71` is not assigned, can't get performer

[2018-07-27 06:35] yegor256 opened #72 "more front page links"

[2018-07-27 06:38] 0crat commented on #71
The job is not in WBS, won't close the order

[2018-07-27 06:39] yegor256 commented on #72
@rultor release, tag is `0.6.4`

[2018-07-27 06:41] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15499-408326522)

[2018-07-27 06:46] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15499-408326522) (took me 5min)

[2018-07-27 06:48] #72 closed

[2018-07-27 07:06] 0crat commented on #72
Job `gh:zold-io/zold.github.io#72` is not assigned, can't get performer

[2018-07-27 07:07] 0crat commented on #72
The job is not in WBS, won't close the order

[2018-08-01 04:10] yegor256 opened #73 "show memory usage"

[2018-08-01 04:42] yegor256 commented on #73
@rultor release, tag is `0.6.5`

[2018-08-01 04:45] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15545-409447539)

[2018-08-01 04:51] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15545-409447539) (took me 6min)

[2018-08-01 04:57] #73 closed

[2018-08-01 05:13] 0crat commented on #73
The job is not in WBS, won't close the order

[2018-08-01 05:13] 0crat commented on #73
Job `gh:zold-io/zold.github.io#73` is not assigned, can't get performer

[2018-08-02 13:33] yegor256 opened #74 "more links"

[2018-08-02 13:34] yegor256 commented on #74
@rultor release, tag is `0.6.6`

[2018-08-02 13:36] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15565-409927864)

[2018-08-02 13:42] rultor commented on #74
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15565-409927864) (took me 6min)

[2018-08-02 13:45] #74 closed

[2018-08-02 13:46] 0crat commented on #74
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zold-io/zold.github.io#74, Action: `closed`

[2018-08-02 14:09] yegor256 opened #75 "show all nodes"

[2018-08-02 14:49] yegor256 commented on #75
@rultor release, tag is `0.6.7`

[2018-08-02 14:52] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15567-409953740)

[2018-08-02 15:00] rultor commented on #75
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15567-409953740) (took me 7min)

[2018-08-02 15:01] #75 closed

[2018-08-02 16:02] 0crat commented on #75
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.8](https://github.com/zerocracy/farm): Issue: zold-io/zold.github.io#75, Action: `closed`

[2018-08-03 05:24] yegor256 opened #76 "show actual NScore"

[2018-08-03 05:28] yegor256 commented on #76
@rultor release, tag is `0.6.8`

[2018-08-03 05:29] #76 closed

[2018-08-03 05:29] 0crat commented on #76
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.14](https://github.com/zerocracy/farm): Issue: zold-io/zold.github.io#76, Action: `closed`

[2018-08-03 05:31] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15572-410148548)

[2018-08-03 05:36] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15572-410148548) (took me 5min)

[2018-08-03 18:02] yegor256 opened #77 "hide IP if it's host address"

[2018-08-03 18:04] yegor256 commented on #77
@rultor release, tag is `0.6.9`

[2018-08-03 18:04] #77 closed

[2018-08-03 18:04] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zold-io/zold.github.io#77, Action: `closed`

[2018-08-03 18:07] rultor commented on #77
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15581-410332175)

[2018-08-03 18:12] rultor commented on #77
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15581-410332175) (took me 5min)

[2018-08-04 15:07] g4s8 commented on #76
@0crat status

[2018-08-04 15:25] 0crat commented on #76
@g4s8 This is what I know about this job in [CAZUFVA8H](https://www.0crat.com/p/CAZUFVA8H), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#76](https://github.com/zold-io/zold.github.io/issues/76) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CAZUFVA8H?q=%7Bjob%3A%27gh%3Azold-io%2Fzold.github.io%2376%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restric

[2018-08-07 07:34] yegor256 opened #78 "latest tacit"

[2018-08-07 07:34] yegor256 commented on #78
@rultor release, tag is `0.6.10`

[2018-08-07 07:36] rultor commented on #78
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15608-410963083)

[2018-08-07 07:41] rultor commented on #78
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15608-410963083) (took me 5min)

[2018-08-07 07:46] #78 closed

[2018-08-07 08:02] 0crat commented on #78
The job is not in WBS, won't close the order

[2018-08-07 08:02] 0crat commented on #78
Job `gh:zold-io/zold.github.io#78` is not assigned, can't get performer

[2018-08-08 04:59] yegor256 opened #79 "icons"

[2018-08-08 05:06] yegor256 commented on #79
@rultor release, tag is `0.6.11`

[2018-08-08 05:07] #79 closed

[2018-08-08 05:08] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15618-411286669)

[2018-08-08 05:13] rultor commented on #79
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15618-411286669) (took me 5min)

[2018-08-16 12:32] yegor256 opened #80 "show load average"

[2018-08-16 12:36] yegor256 commented on #80
@rultor release, tag is `0.7.0`

[2018-08-16 12:37] rultor commented on #80
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15707-413530665)

[2018-08-16 12:40] #80 closed

[2018-08-16 12:43] rultor commented on #80
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15707-413530665) (took me 5min)

[2018-08-16 12:56] 0crat commented on #80
The job is not in WBS, won't close the order

[2018-08-16 12:56] 0crat commented on #80
Job `gh:zold-io/zold.github.io#80` is not assigned, can't get performer

[2018-08-20 14:28] #48 closed

[2018-08-20 15:16] 0crat commented on #48
Job `gh:zold-io/zold.github.io#48` is not assigned, can't get performer

[2018-08-20 15:16] 0crat commented on #48
The job is not in WBS, won't close the order

[2018-08-26 16:09] yegor256 opened #81 "colorizejs"
Let's use it from here: https://github.com/yegor256/colorizejs

[2018-08-26 16:12] yegor256 commented on #81
@rultor release, tag is `0.7.1`

[2018-08-26 16:14] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15783-416049939)

[2018-08-26 16:19] rultor commented on #81
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15783-416049939) (took me 5min)

[2018-08-26 16:21] #81 closed

[2018-08-26 16:22] yegor256 commented on #81
@rultor release, tag is `0.7.2`

[2018-08-26 16:24] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15783-416050669)

[2018-08-26 16:29] rultor commented on #81
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15783-416050669) (took me 5min)

[2018-08-26 16:39] 0crat commented on #81
The job is not in WBS, won't close the order

[2018-08-26 16:39] 0crat commented on #81
Job `gh:zold-io/zold.github.io#81` is not assigned, can't get performer

[2018-10-03 14:48] yegor256 opened #82 "/stress.html"

[2018-10-03 17:15] yegor256 commented on #82
@rultor release, tag is `0.8.0`

[2018-10-03 17:17] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16066-426720772)

[2018-10-04 11:01] #82 closed

[2018-10-04 12:08] 0crat commented on #82
Job `gh:zold-io/zold.github.io#82` is not assigned, can't get performer

[2018-10-10 09:33] ypshenychka commented on #43
@0crat status

[2018-10-10 09:34] 0crat commented on #43
@ypshenychka This is what I know about this job in [CAZUFVA8H](https://www.0crat.com/p/CAZUFVA8H), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#43](https://github.com/zold-io/zold.github.io/issues/43) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 4mon
  * @blackout314[/z](https://www.0crat.com/u/bl

[2018-10-10 10:07] ypshenychka commented on #43
@blackout314 According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Your commits do not contain link to this issue. Please confirm you'll try to follow this rule next time.

[2018-10-10 10:09] blackout314 commented on #43
@ypshenychka next time i'll try to follow this rule. sorry

[2018-10-10 10:19] ypshenychka commented on #43
@blackout314 thank you

[2018-10-10 10:19] ypshenychka commented on #43
@0crat quality acceptable

[2018-10-11 10:15] yegor256 opened #84 "put markers on expired scores"

[2018-10-11 10:21] yegor256 commented on #84
@rultor release, tag is `0.9.1`

[2018-10-11 10:21] #84 closed

[2018-10-11 10:28] rultor commented on #84
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16164-428902575) (took me 5min)

[2018-10-11 10:37] 0crat commented on #84
Job `gh:zold-io/zold.github.io#84` is not assigned, can't get performer

[2018-10-11 10:37] 0crat commented on #84
This job is not in scope

[2018-10-31 05:30] yegor256 opened #85 "start point for /health.html"
Let's pass it via URI

[2018-10-31 05:43] yegor256 commented on #85
@rultor release, tag is `0.9.2`

[2018-10-31 05:45] rultor commented on #85
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16407-434568115)

[2018-10-31 05:50] rultor commented on #85
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16407-434568115) (took me 4min)

[2018-10-31 05:53] #85 closed

[2018-10-31 06:10] 0crat commented on #85
Job `gh:zold-io/zold.github.io#85` is not assigned, can't get performer

[2018-10-31 06:10] 0crat commented on #85
This job is not in scope

[2018-10-31 12:52] yegor256 opened #86 "fake wallets counter"
Let's mark it

[2018-10-31 13:02] yegor256 commented on #86
@rultor release, tag is `0.9.3`

[2018-10-31 13:05] rultor commented on #86
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16412-434677952)

[2018-10-31 13:10] rultor commented on #86
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16412-434677952) (took me 5min)

[2018-10-31 13:11] #86 closed

[2018-10-31 13:28] 0crat commented on #86
Job `gh:zold-io/zold.github.io#86` is not assigned, can't get performer

[2018-10-31 13:28] 0crat commented on #86
This job is not in scope

[2018-11-01 05:59] 0crat commented on #61
Job [#61](https://github.com/zold-io/zold.github.io/issues/61) is now in scope, role is `DEV`

[2018-11-01 05:59] yegor256 commented on #55
@blackout314 we don't have the list there anymore

[2018-11-01 05:59] #55 closed

[2018-11-01 06:00] #42 closed

[2018-11-01 06:00] #28 closed

[2018-11-01 06:00] yegor256 commented on #26
@yegor256 let's have sorting by columns in `/health.html`

[2018-11-01 06:01] yegor256 commented on #26
@blackout314 maybe you can help now?

[2018-11-01 06:02] #10 closed

[2018-11-01 06:02] #25 closed

[2018-11-01 06:02] #19 closed

[2018-11-01 06:03] yegor256 opened #87 "jslint"
Let's add jslint to the build and make sure the build doesn't pass when jslint reports any errors or warnings.

[2018-11-01 06:05] 0crat commented on #61
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-01 06:14] 0crat commented on #87
Job [#87](https://github.com/zold-io/zold.github.io/issues/87) is now in scope, role is `DEV`

[2018-11-01 06:16] 0crat commented on #50
Job [#50](https://github.com/zold-io/zold.github.io/issues/50) is now in scope, role is `DEV`

[2018-11-01 06:20] 0crat commented on #55
Job `gh:zold-io/zold.github.io#55` is not assigned, can't get performer

[2018-11-01 06:20] 0crat commented on #42
Job `gh:zold-io/zold.github.io#42` is not assigned, can't get performer

[2018-11-01 06:20] 0crat commented on #28
Job `gh:zold-io/zold.github.io#28` is not assigned, can't get performer

[2018-11-01 06:20] 0crat commented on #10
Job `gh:zold-io/zold.github.io#10` is not assigned, can't get performer

[2018-11-01 06:20] 0crat commented on #25
Job `gh:zold-io/zold.github.io#25` is not assigned, can't get performer

[2018-11-01 06:20] 0crat commented on #55
This job is not in scope

[2018-11-01 06:20] 0crat commented on #19
Job `gh:zold-io/zold.github.io#19` is not assigned, can't get performer

[2018-11-01 06:20] 0crat commented on #42
The job [#42](https://github.com/zold-io/zold.github.io/issues/42) is now out of scope

[2018-11-01 06:20] 0crat commented on #28
The job [#28](https://github.com/zold-io/zold.github.io/issues/28) is now out of scope

[2018-11-01 06:20] 0crat commented on #10
The job [#10](https://github.com/zold-io/zold.github.io/issues/10) is now out of scope

[2018-11-01 06:21] 0crat commented on #25
The job [#25](https://github.com/zold-io/zold.github.io/issues/25) is now out of scope

[2018-11-01 06:21] 0crat commented on #87
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-01 06:21] 0crat commented on #19
The job [#19](https://github.com/zold-io/zold.github.io/issues/19) is now out of scope

[2018-11-01 14:10] yegor256 opened #88 "show defaults markers"

[2018-11-01 20:15] yegor256 commented on #88
@rultor release, tag is `0.9.4`

[2018-11-01 20:18] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16425-435171999)

[2018-11-01 20:22] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16425-435171999) (took me 4min)

[2018-11-01 20:44] 0crat commented on #88
Job `gh:zold-io/zold.github.io#88` is not assigned, can't get performer

[2018-11-01 20:44] 0crat commented on #88
This job is not in scope

[2018-11-02 07:46] blackout314 commented on #26
@yegor256 today i have spare time,i try to check

[2018-11-04 16:39] yegor256 opened #89 "show process count"
Let's show them

[2018-11-04 16:40] 0crat commented on #89
The job [#89](https://github.com/zold-io/zold.github.io/issues/89) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/6dd5b71d-83a5-445e-b42c-4e3a54b50278); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-04 16:41] 0crat commented on #89
Job `gh:zold-io/zold.github.io#89` already assigned to @yegor256, can't assign to @yegor256

[2018-11-04 16:41] 0crat commented on #89
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-04 16:41] 0crat commented on #89
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-04 16:41] 0crat commented on #89
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-04 16:45] yegor256 commented on #89
@rultor release, tag is `0.10.0`

[2018-11-04 16:46] rultor commented on #89
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16446-435685303)

[2018-11-04 16:52] rultor commented on #89
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16446-435685303) (took me 6min)

[2018-11-04 16:53] #89 closed

[2018-11-04 17:11] 0crat commented on #89
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-04 17:11] 0crat commented on #89
The job [#89](https://github.com/zold-io/zold.github.io/issues/89) is now out of scope

[2018-11-04 17:11] 0crat commented on #89
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-04 18:49] yegor256 opened #90 "clip cells"
Let's clip them

[2018-11-04 19:01] yegor256 commented on #90
@rultor release, tag is `0.10.1`

[2018-11-04 19:03] rultor commented on #90
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16451-435696150)

[2018-11-04 19:07] rultor commented on #90
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16451-435696150) (took me 4min)

[2018-11-04 19:08] #90 closed

[2018-11-05 10:21] yegor256 opened #91 "remove QAge from health"

[2018-11-05 10:24] yegor256 commented on #91
@rultor release, tag is `0.10.2`

[2018-11-05 10:24] #91 closed

[2018-11-05 10:29] rultor commented on #91
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16453-435825254) (took me 4min)

[2018-11-05 10:42] 0crat commented on #91
Job `gh:zold-io/zold.github.io#91` is not assigned, can't get performer

[2018-11-05 10:42] 0crat commented on #91
This job is not in scope

[2018-11-05 13:57] yegor256 opened #92 "show gem version at /health"
Let's take it from Rubygems and show

[2018-11-05 14:14] yegor256 commented on #92
@rultor release, tag is `0.10.3`

[2018-11-05 14:14] #92 closed

[2018-11-05 14:16] rultor commented on #92
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16458-435889822)

[2018-11-05 14:21] rultor commented on #92
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16458-435889822) (took me 4min)

[2018-11-05 14:31] 0crat commented on #92
Job `gh:zold-io/zold.github.io#92` is not assigned, can't get performer

[2018-11-05 14:32] 0crat commented on #92
This job is not in scope

[2018-11-11 15:36] yegor256 opened #93 "HTTP requests lead to HTTPS for some reason"

[2018-11-11 16:33] yegor256 commented on #93
@rultor release, tag is `0.10.4`

[2018-11-11 16:34] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16512-437684461)

[2018-11-11 17:16] #93 closed

[2018-11-11 17:34] 0crat commented on #93
Job `gh:zold-io/zold.github.io#93` is not assigned, can't get performer

[2018-11-11 17:34] 0crat commented on #93
This job is not in scope

[2018-11-11 18:36] rultor commented on #93
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16512-437684461) (spent 2hr)

[code]

[2018-11-12 16:00] yegor256 commented on #93
@rultor release, tag is `0.10.4`

[2018-11-12 16:02] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16512-437933883)

[2018-11-12 16:06] rultor commented on #93
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16512-437933883) (took me 3min)

[2018-11-30 12:44] yegor256 opened #94 "timeout on initial request"

[2018-11-30 12:45] 0crat commented on #94
The job [#94](https://github.com/zold-io/zold.github.io/issues/94) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/7582a9e1-ac31-43be-8054-3f6c127213ff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-30 12:45] 0crat commented on #94
Job `gh:zold-io/zold.github.io#94` already assigned to @yegor256, can't assign to @yegor256

[2018-11-30 12:46] 0crat commented on #94
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 12:46] 0crat commented on #94
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 12:46] 0crat commented on #94
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 12:47] yegor256 commented on #94
@rultor release, tag is `0.10.5`

[2018-11-30 12:51] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16711-443193665)

[2018-11-30 12:55] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16711-443193665) (took me 4min)

[2018-11-30 13:38] #94 closed

[2018-11-30 13:56] 0crat commented on #94
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-30 13:57] 0crat commented on #94
The job [#94](https://github.com/zold-io/zold.github.io/issues/94) is now out of scope

[2018-11-30 13:57] 0crat commented on #94
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 16:40] yegor256 opened #95 "test scores for validity"
Test them right.

[2018-12-11 16:26] #95 closed

[2018-12-11 16:26] yegor256 opened #96 "ledger"
Let's make it work

[2018-12-11 16:44] 0crat commented on #95
This job is not in scope

[2018-12-11 21:08] yegor256 commented on #96
@rultor release, tag is `0.10.6`

[2018-12-11 21:09] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16852-446362477)

[2018-12-11 21:13] rultor commented on #96
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16852-446362477) (took me 4min)

[2018-12-11 21:14] #96 closed

[2018-12-11 21:31] 0crat commented on #96
Job `gh:zold-io/zold.github.io#96` is not assigned, can't get performer

[2018-12-11 21:31] 0crat commented on #96
This job is not in scope

[2018-12-12 08:11] yegor256 opened #97 "main.scss"

[2018-12-12 08:11] yegor256 commented on #97
@rultor release, tag is `0.10.7`

[2018-12-12 08:13] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16863-446498828)

[2018-12-12 08:17] rultor commented on #97
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16863-446498828) (took me 4min)

[2018-12-12 10:46] dapi opened #98 "Mark red nodes that returns unspecified keys on the /health page"
Mark red nodes that returns unspecified keys on the /health page.

Scheme of requested and responded data and formats must be specified here - https://github.com/zold-io/papers

[2018-12-12 10:46] 0crat commented on #98
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-12 10:46] 0crat commented on #98
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-12 11:17] #97 closed

[2018-12-12 11:35] 0crat commented on #97
Job `gh:zold-io/zold.github.io#97` is not assigned, can't get performer

[2018-12-12 11:39] 0crat commented on #97
This job is not in scope

[2018-12-12 13:09] yegor256 commented on #97
@rultor release, tag is `0.10.8`

[2018-12-12 13:11] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16863-446582409)

[2018-12-12 13:14] yegor256 opened #99 "/health.html is full of garbage"
Let's do something about that

[2018-12-12 13:15] rultor commented on #97
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16863-446582409) (took me 4min)

[2018-12-12 16:44] yegor256 commented on #99
@rultor release, tag is `0.10.9`

[2018-12-12 16:45] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16875-446656731)

[2018-12-12 16:50] rultor commented on #99
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16875-446656731) (took me 4min)

[2018-12-12 17:51] #99 closed

[2018-12-12 18:08] 0crat commented on #99
Job `gh:zold-io/zold.github.io#99` is not assigned, can't get performer

[2018-12-12 18:08] 0crat commented on #99
This job is not in scope

[2018-12-27 12:09] yegor256 opened #100 "show multiple nodes in ledger page"
Let's show them

[2018-12-27 14:15] yegor256 commented on #87
done

[2018-12-27 14:15] #87 closed

[2018-12-27 14:31] 0crat commented on #87
Job `gh:zold-io/zold.github.io#87` is not assigned, can't get performer

[2018-12-27 14:32] 0crat commented on #87
The job [#87](https://github.com/zold-io/zold.github.io/issues/87) is now out of scope

[2018-12-27 16:21] yegor256 commented on #100
@rultor release, tag is `0.11.0`

[2018-12-27 16:22] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17077-450183244)

[2018-12-27 16:45] 0crat commented on #100
Job `gh:zold-io/zold.github.io#100` is not assigned, can't get performer

[2018-12-27 16:45] 0crat commented on #100
This job is not in scope

[2018-12-28 16:11] yegor256 opened #101 "/health page is losing nodes"
It is losing them after mistakes

[2019-01-07 12:34] alex-semenyuk opened #102 "Not showed nodes on http://www.zold.io/map.html"
I see empty map on http://www.zold.io/map.html

[2019-01-07 12:34] 0crat commented on #102
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-07 12:34] 0crat commented on #102
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-07 12:39] alex-semenyuk opened #103 "On /health.html Latest version is showed as ?/?"
On /health.html Latest version is showed as ?/? instead of right version.

[2019-01-07 12:39] 0crat commented on #103
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-07 12:39] 0crat commented on #103
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-07 13:18] #101 closed

[2019-01-07 13:18] yegor256 commented on #103
@alex-semenyuk should be fixed now

[2019-01-07 13:19] yegor256 commented on #102
@alex-semenyuk works for me

[2019-01-07 13:19] #102 closed

[2019-01-07 13:19] yegor256 opened #104 "ledger duplicates transactiosn"

[2019-01-07 13:21] yegor256 commented on #104
@rultor release, tag is `0.11.1`

[2019-01-07 13:43] 0crat commented on #101
Job `gh:zold-io/zold.github.io#101` is not assigned, can't get performer

[2019-01-07 13:43] 0crat commented on #103
Job `gh:zold-io/zold.github.io#103` is not assigned, can't get performer

[2019-01-07 13:43] 0crat commented on #102
Job `gh:zold-io/zold.github.io#102` is not assigned, can't get performer

[2019-01-07 13:44] 0crat commented on #101
This job is not in scope

[2019-01-07 13:44] 0crat commented on #103
This job is not in scope

[2019-01-07 13:44] 0crat commented on #102
This job is not in scope

[2019-01-07 13:46] 0crat commented on #104
Job `gh:zold-io/zold.github.io#104` is not assigned, can't get performer

[2019-01-07 13:46] 0crat commented on #104
This job is not in scope

[2019-01-09 14:10] yegor256 opened #105 "extra links"

[2019-01-09 14:16] rultor commented on #105
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17256-452710706)

[2019-01-09 14:19] rultor commented on #105
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17256-452710706) (took me 3min)

[2019-01-09 14:21] #105 closed

[2019-01-09 14:38] 0crat commented on #105
Job `gh:zold-io/zold.github.io#105` is not assigned, can't get performer

[2019-01-09 14:38] 0crat commented on #105
This job is not in scope

[2019-01-09 15:22] bedware opened #106 "Short list of key features"
Pre-history:
Not every person has time to read long whitepapers. On your site I did not find any summary why zold better than Bitcoin.
![c14ccff3-d823-42e6-a45a-9a164bb25e40](https://user-images.githubusercontent.com/3441783/50908677-441eb580-143b-11e9-9937-c10ffc799235.jpeg)
Solution:
What he is talking about, I think, is the newcomers want to see the short list of these key features when they co

[2019-01-09 15:22] 0crat commented on #106
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-09 15:22] 0crat commented on #106
@bedware[/z](https://www.0crat.com/u/bedware) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-11 09:13] theautobot opened #107 "lets add node profit to the /health page"
it would be nice if we see how much ZLD have each node earned. or something like that.
can we add this info to /health page?

[2019-01-11 09:13] 0crat commented on #107
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-11 09:13] 0crat commented on #107
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-13 18:51] alex-semenyuk opened #108 "Wrong link to default nodes on /health"
Wrong link to default nodes on /health https://github.com/zold-io/zold/blob/master/resources/remotes

[2019-01-13 18:51] 0crat commented on #108
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-13 18:51] 0crat commented on #108
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-14 14:11] 0crat commented on #9
The job [#9](https://github.com/zold-io/zold.github.io/issues/9) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/25d12ca8-6a10-4129-9b86-006fcfcfcec7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-14 14:16] 0crat commented on #8
The job [#8](https://github.com/zold-io/zold.github.io/issues/8) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/0eecca2f-8494-42d1-99f8-4e2806d1737b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-14 14:31] 0crat commented on #27
The job [#27](https://github.com/zold-io/zold.github.io/issues/27) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/bf923ae3-4836-4619-81f7-6569b78afa98); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-14 14:44] amihaiemil commented on #27
@0crat refuse

[2019-01-14 14:44] amihaiemil commented on #26
@0crat refuse

[2019-01-14 14:44] amihaiemil commented on #8
@0crat refuse

[2019-01-14 14:44] amihaiemil commented on #9
@0crat refuse

[2019-01-14 14:46] 0crat commented on #41
The job [#41](https://github.com/zold-io/zold.github.io/issues/41) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/5ac26054-81d0-418d-897f-d9ac30636456); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-14 14:47] amihaiemil commented on #41
@0crat refuse

[2019-01-14 14:47] 0crat commented on #26
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#26](https://github.com/zold-io/zold.github.io/issues/26), please stop working. Reason for job resignation: Order was cancelled

[2019-01-14 14:48] 0crat commented on #27
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#27](https://github.com/zold-io/zold.github.io/issues/27), please stop working. Reason for job resignation: Order was cancelled

[2019-01-14 14:48] 0crat commented on #41
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#41](https://github.com/zold-io/zold.github.io/issues/41), please stop working. Reason for job resignation: Order was cancelled

[2019-01-14 14:48] 0crat commented on #26
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 14:48] 0crat commented on #27
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 14:49] 0crat commented on #41
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 14:49] 0crat commented on #49
The job [#49](https://github.com/zold-io/zold.github.io/issues/49) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/f5902d7e-9944-4114-bef3-e97a0c5c0a16); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-14 14:50] amihaiemil commented on #49
@0crat refuse

[2019-01-14 14:51] 0crat commented on #49
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#49](https://github.com/zold-io/zold.github.io/issues/49), please stop working. Reason for job resignation: Order was cancelled

[2019-01-14 14:52] 0crat commented on #49
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 15:48] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-14 15:48] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-14 15:48] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-14 15:48] 0crat commented on #27
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#27](https://github.com/zold-io/zold.github.io/issues/27); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-14 15:48] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-14 15:48] 0crat commented on #49
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#49](https://github.com/zold-io/zold.github.io/issues/49); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-14 15:48] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-14 15:48] 0crat commented on #50
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#50](https://github.com/zold-io/zold.github.io/issues/50); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-16 06:42] yegor256 commented on #50
implemented in `/ledger.html`

[2019-01-16 06:42] #50 closed

[2019-01-16 07:01] 0crat commented on #50
Job `gh:zold-io/zold.github.io#50` is not assigned, can't get performer

[2019-01-16 07:01] 0crat commented on #50
The job [#50](https://github.com/zold-io/zold.github.io/issues/50) is now out of scope

[2019-01-16 07:50] #108 closed

[2019-01-16 08:13] 0crat commented on #108
Job `gh:zold-io/zold.github.io#108` is not assigned, can't get performer

[2019-01-16 08:14] 0crat commented on #108
This job is not in scope

[2019-01-19 09:08] yegor256 opened #110 "show memory usage in percentages"

[2019-01-19 09:21] yegor256 commented on #110
@rultor release, tag is `0.11.3`

[2019-01-19 09:22] rultor commented on #110
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17425-455763627)

[2019-01-19 10:05] #110 closed

[2019-01-19 10:43] 0crat commented on #110
Job `gh:zold-io/zold.github.io#110` is not assigned, can't get performer

[2019-01-19 10:45] 0crat commented on #110
This job is not in scope

[2019-01-19 16:41] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-19 16:42] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-19 16:42] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-19 16:42] 0crat commented on #27
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#27](https://github.com/zold-io/zold.github.io/issues/27); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-19 16:42] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-19 16:42] 0crat commented on #49
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#49](https://github.com/zold-io/zold.github.io/issues/49); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-19 16:42] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-23 05:56] #27 closed

[2019-01-23 06:32] 0crat commented on #27
Job `gh:zold-io/zold.github.io#27` is not assigned, can't get performer

[2019-01-23 06:32] 0crat commented on #27
The job [#27](https://github.com/zold-io/zold.github.io/issues/27) is now out of scope

[2019-01-24 17:43] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-24 17:43] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-24 17:43] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-24 17:43] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-24 17:44] 0crat commented on #49
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#49](https://github.com/zold-io/zold.github.io/issues/49); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-24 17:45] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-28 14:41] yegor256 commented on #106
@rultor release, tag is `0.11.4`

[2019-01-28 14:42] #49 closed

[2019-01-28 14:43] rultor commented on #106
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17573-458157683)

[2019-01-28 14:47] rultor commented on #106
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17573-458157683) (took me 3min)

[2019-01-28 14:48] yegor256 commented on #106
@bedware done, thanks!

[2019-01-28 14:48] #106 closed

[2019-01-28 15:01] 0crat commented on #49
Job `gh:zold-io/zold.github.io#49` is not assigned, can't get performer

[2019-01-28 15:03] 0crat commented on #49
The job [#49](https://github.com/zold-io/zold.github.io/issues/49) is now out of scope

[2019-01-28 15:04] 0crat commented on #106
Job `gh:zold-io/zold.github.io#106` is not assigned, can't get performer

[2019-01-28 15:04] 0crat commented on #106
This job is not in scope

[2019-01-28 15:04] 0crat commented on #106
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.12](https://github.com/zerocracy/farm): Issue: zold-io/zold.github.io#106, Action: `created`

[2019-01-29 18:37] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-29 18:37] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-29 18:37] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-29 18:37] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-01-30 13:29] yegor256 opened #111 "show loading progress in /ledger page"

[2019-01-31 17:34] rultor commented on #111
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17632-459432440) (took me 3min)

[2019-01-31 17:41] #111 closed

[2019-01-31 18:04] 0crat commented on #111
Job `gh:zold-io/zold.github.io#111` is not assigned, can't get performer

[2019-01-31 18:04] 0crat commented on #111
This job is not in scope

[2019-02-03 19:41] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-03 19:41] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-03 19:41] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-03 19:41] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-03 19:41] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-05 14:32] yegor256 opened #112 "ledger doesn't render the list of transactions right"
Let's make sure it renders the dominating version

[2019-02-05 15:48] yegor256 commented on #112
@rultor release, tag is `0.11.6`

[2019-02-05 15:49] rultor commented on #112
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17713-460688613)

[2019-02-05 15:52] rultor commented on #112
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17713-460688613) (took me 3min)

[2019-02-06 05:55] #112 closed

[2019-02-06 06:12] 0crat commented on #112
Job `gh:zold-io/zold.github.io#112` is not assigned, can't get performer

[2019-02-06 06:12] 0crat commented on #112
This job is not in scope

[2019-02-08 20:57] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-08 20:58] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-08 20:58] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-08 20:58] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-08 20:58] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-12 13:24] yegor256 commented on #107
@rultor release, tag is `0.12.0`

[2019-02-12 13:25] rultor commented on #107
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17827-462757324)

[2019-02-12 13:28] rultor commented on #107
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17827-462757324) (took me 3min)

[2019-02-12 13:29] yegor256 commented on #107
@theautobot done

[2019-02-12 13:29] #107 closed

[2019-02-12 13:39] yegor256 commented on #107
@rultor release, tag is `0.12.1`

[2019-02-12 13:40] rultor commented on #107
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17827-462762308)

[2019-02-12 13:44] rultor commented on #107
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17827-462762308) (took me 3min)

[2019-02-12 13:46] 0crat commented on #107
Job `gh:zold-io/zold.github.io#107` is not assigned, can't get performer

[2019-02-12 13:46] 0crat commented on #107
This job is not in scope

[2019-02-13 21:41] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-13 21:41] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-13 21:41] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-13 21:41] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-13 21:41] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-18 22:39] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-18 22:39] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-18 22:39] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-18 22:40] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-18 22:40] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-20 11:53] yegor256 opened #113 "too many nodes in ledger.html"
Let's make sure we show only 16 and masters.

[2019-02-20 12:32] yegor256 commented on #113
@rultor release, tag is `0.12.2`

[2019-02-20 12:33] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17949-465555407)

[2019-02-20 12:37] rultor commented on #113
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17949-465555407) (took me 3min)

[2019-02-20 12:37] #113 closed

[2019-02-20 13:00] 0crat commented on #113
Job `gh:zold-io/zold.github.io#113` is not assigned, can't get performer

[2019-02-20 13:03] 0crat commented on #113
This job is not in scope

[2019-02-22 08:55] yegor256 opened #114 "show graph at the front page"
Let's put it there.

[2019-02-22 08:56] yegor256 commented on #114
@rultor release, tag is `0.12.3`

[2019-02-22 09:20] yegor256 commented on #114
@rultor hello

[2019-02-22 09:24] rultor commented on #114
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17982-466323426)

[2019-02-22 09:26] rultor commented on #114
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2019-02-22 09:30] rultor commented on #114
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17982-466323426) (took me 5min)

[2019-02-22 09:33] yegor256 commented on #114
@rultor release, tag is `0.12.4`

[2019-02-22 09:34] rultor commented on #114
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17982-466334439)

[2019-02-22 09:39] rultor commented on #114
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17982-466334439) (took me 4min)

[2019-02-22 09:40] #114 closed

[2019-02-22 10:03] 0crat commented on #114
Job `gh:zold-io/zold.github.io#114` is not assigned, can't get performer

[2019-02-22 10:07] 0crat commented on #114
This job is not in scope

[2019-02-23 23:38] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#41](https://github.com/zold-io/zold.github.io/issues/41); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-23 23:38] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#26](https://github.com/zold-io/zold.github.io/issues/26); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-23 23:38] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-23 23:38] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/zold-io/zold.github.io/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2019-02-23 23:38] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-27 16:40] yegor256 opened #115 "cosmetic changes"

[2019-02-27 17:19] yegor256 commented on #115
@rultor release, tag is `0.12.5`

[2019-02-27 17:20] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18066-467951296)

[2019-02-27 17:24] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18066-467951296) (took me 3min)

[2019-02-27 17:24] #115 closed

[2019-02-27 17:33] yegor256 commented on #115
@rultor release, tag is `0.12.6`

[2019-02-27 17:33] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18066-467956394)

[2019-02-27 17:37] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18066-467956394) (took me 3min)

[2019-02-27 17:42] 0crat commented on #115
Job `gh:zold-io/zold.github.io#115` is not assigned, can't get performer

[2019-02-27 17:42] 0crat commented on #115
This job is not in scope

[2019-02-28 23:55] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-02-28 23:56] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-03-03 06:14] yegor256 opened #116 "webvisor"

[2019-03-03 06:17] yegor256 commented on #116
@rultor release, tag is `0.12.7`

[2019-03-03 06:18] rultor commented on #116
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18107-468992968)

[2019-03-03 06:21] rultor commented on #116
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18107-468992968) (took me 3min)

[2019-03-03 06:21] #116 closed

[2019-03-03 06:38] 0crat commented on #116
Job `gh:zold-io/zold.github.io#116` is not assigned, can't get performer

[2019-03-03 06:38] 0crat commented on #116
This job is not in scope

[2019-03-03 12:18] yegor256 opened #117 "hit.ua"
let's add counter

[2019-03-03 12:21] yegor256 commented on #117
@rultor release, tag is `0.12.8`

[2019-03-03 12:22] rultor commented on #117
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18111-469017628)

[2019-03-03 12:25] rultor commented on #117
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18111-469017628) (took me 3min)

[2019-03-03 12:27] #117 closed

[2019-03-03 12:44] 0crat commented on #117
Job `gh:zold-io/zold.github.io#117` is not assigned, can't get performer

[2019-03-03 12:45] 0crat commented on #117
This job is not in scope

[2019-03-06 00:40] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#8](https://github.com/zold-io/zold.github.io/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-03-06 00:40] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#9](https://github.com/zold-io/zold.github.io/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-03-11 10:36] yegor256 opened #118 "nodes counter is broken in /ledger"
Let's fix

[2019-03-13 13:26] yegor256 commented on #118
@rultor release, tag is `0.12.9`

[2019-03-13 13:27] rultor commented on #118
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18272-472420729)

[2019-03-13 13:31] rultor commented on #118
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18272-472420729) (took me 3min)

[2019-03-13 13:54] 0crat commented on #118
Job `gh:zold-io/zold.github.io#118` is not assigned, can't get performer

[2019-03-13 13:54] 0crat commented on #118
This job is not in scope

[2019-03-14 13:40] yegor256 opened #119 "/diff.html"
Let's add a new page to compare two versions of the wallet file

[2019-03-14 15:11] yegor256 commented on #119
@rultor release, tag is `0.13.0`

[2019-03-14 15:12] rultor commented on #119
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18293-472910188)

[2019-03-14 15:16] rultor commented on #119
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18293-472910188) (spent 4min)

[code]

[2019-03-14 15:42] yegor256 commented on #119
@rultor release, tag is `0.13.0`

[2019-03-14 15:43] rultor commented on #119
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18293-472926179)

[2019-03-14 15:49] rultor commented on #119
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18293-472926179) (took me 4min)

[2019-03-14 17:10] yegor256 commented on #119
@rultor release, tag is `0.13.1`

[2019-03-14 17:11] rultor commented on #119
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18293-472968432)

[2019-03-14 17:16] rultor commented on #119
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18293-472968432) (spent 4min)

[code]

[2019-03-14 18:40] yegor256 commented on #119
@rultor release, tag is `0.13.1`

[2019-03-14 18:42] rultor commented on #119
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18293-473006591)

[2019-03-14 18:47] rultor commented on #119
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18293-473006591) (took me 4min)

[2019-03-14 19:00] yegor256 commented on #119
@rultor release, tag is `0.13.2`

[2019-03-14 19:00] #119 closed

[2019-03-14 19:03] rultor commented on #119
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18293-473014521)

[2019-03-14 19:08] rultor commented on #119
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18293-473014521) (took me 4min)

[2019-03-14 19:23] 0crat commented on #119
Job `gh:zold-io/zold.github.io#119` is not assigned, can't get performer

[2019-03-14 19:23] 0crat commented on #119
This job is not in scope

[2019-03-15 10:47] yegor256 commented on #119
@rultor release, tag is `0.13.2`

[2019-03-15 10:48] rultor commented on #119
@yegor256 Invalid release tag `0.13.2` specified. There is already a release `0.13.2` newer than the given release in this repository.

[2019-03-15 10:48] rultor commented on #119
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-03-15 12:50] yegor256 commented on #119
@rultor release, tag is `0.13.3`

[2019-03-15 12:52] rultor commented on #119
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18293-473273530)

[2019-03-15 12:55] rultor commented on #119
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18293-473273530) (took me 3min)

[2019-03-25 07:59] yegor256 opened #120 "front page face-lift"
Let's add video, etc.

[2019-03-25 12:56] yegor256 commented on #120
@rultor release, tag is `0.13.4`

[2019-03-25 12:57] rultor commented on #120
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18391-476184429)

[2019-03-25 12:59] 0crat commented on #120
The job [#120](https://github.com/zold-io/zold.github.io/issues/120) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CAZUFVA8H/ef49cf7c-a1d7-4678-9619-208f18360f79); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-03-25 12:59] 0crat commented on #120
Job `gh:zold-io/zold.github.io#120` already assigned to @yegor256, can't assign to @yegor256

[2019-03-25 13:00] 0crat commented on #120
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-25 13:00] 0crat commented on #120
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-25 13:00] 0crat commented on #120
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-25 13:02] rultor commented on #120
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18391-476184429) (took me 5min)

[2019-03-25 13:03] #120 closed

[2019-03-25 13:20] 0crat commented on #120
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-25 13:20] 0crat commented on #120
The job [#120](https://github.com/zold-io/zold.github.io/issues/120) is now out of scope

[2019-03-25 13:20] 0crat commented on #120
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 16:22] yegor256 opened #121 "robots.txt"

[2019-04-01 16:26] yegor256 commented on #121
@rultor release, tag is `0.13.5`

[2019-04-01 16:28] rultor commented on #121
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18450-478649213)

[2019-04-01 16:34] rultor commented on #121
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18450-478649213) (took me 5min)

[2019-04-01 17:40] #121 closed

[2019-04-01 17:57] 0crat commented on #121
Job `gh:zold-io/zold.github.io#121` is not assigned, can't get performer

[2019-04-01 17:59] 0crat commented on #121
This job is not in scope

[2019-04-18 07:13] rusnasonov opened #123 "Add filter/sorting columns in /health.html page"
In this page I want to see only my nodes, or top of nodes by score/cpu.

[2019-04-19 07:26] yegor256 opened #122 "media badges"

[2019-04-19 07:27] yegor256 commented on #122
@rultor release, tag is `0.13.6`

[2019-04-19 07:27] rultor commented on #122
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18631-484791389)

[2019-04-19 07:32] rultor commented on #122
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18631-484791389) (took me 4min)

[2019-04-19 07:32] #122 closed

[2019-04-19 07:51] 0crat commented on #122
Job `gh:zold-io/zold.github.io#122` is not assigned, can't get performer

[2019-04-19 07:51] 0crat commented on #122
This job is not in scope

[2019-05-02 07:40] 0crat commented on #123
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-02 07:40] 0crat commented on #123
@rusnasonov[/z](https://www.0crat.com/u/rusnasonov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-14 14:55] yegor256 opened #124 "show journal counter"
In the `/health` page

[2019-05-14 14:55] yegor256 commented on #123
@rusnasonov you are welcome to submit a pull request

[2019-05-14 15:02] yegor256 commented on #124
@rultor release, tag is `0.14.0`

[2019-05-14 15:04] rultor commented on #124
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18890-492276598)

[2019-05-14 15:10] rultor commented on #124
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18890-492276598) (took me 4min)

[2019-05-14 15:12] #124 closed

[2019-05-14 15:31] 0crat commented on #124
Job `gh:zold-io/zold.github.io#124` is not assigned, can't get performer

[2019-05-14 15:31] 0crat commented on #124
This job is not in scope

[2019-05-17 03:34] rusnasonov commented on #123
What you think if I add external js library [datatables](https://datatables.net) to `/healt` page?

[2019-06-10 12:12] yegor256 opened #125 "cointelegraph article"

[2019-06-10 12:25] yegor256 commented on #125
@rultor release, tag is `0.15.0`

[2019-06-10 12:27] rultor commented on #125
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19162-500397836)

[2019-06-10 12:33] rultor commented on #125
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19162-500397836) (took me 4min)

[2019-06-10 12:33] #125 closed

[2019-06-10 12:54] 0crat commented on #125
Job `gh:zold-io/zold.github.io#125` is not assigned, can't get performer

[2019-06-10 12:55] 0crat commented on #125
This job is not in scope

[2019-06-25 06:33] yegor256 opened #126 "gazeta.ru"

[2019-06-25 06:33] yegor256 opened #127 "gazeta.ru"

[2019-06-25 06:35] yegor256 commented on #127
@rultor release, tag is `0.15.1`

[2019-06-25 06:36] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19321-505306460)

[2019-06-25 06:41] rultor commented on #127
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19321-505306460) (took me 4min)

[2019-06-25 06:47] #127 closed

[2019-06-25 07:20] 0crat commented on #127
Job `gh:zold-io/zold.github.io#127` is not assigned, can't get performer

[2019-06-25 07:22] 0crat commented on #127
This job is not in scope

[2019-07-12 06:00] aivinog1 opened #128 "Method "/map" returns nothing"
When I'm opening: http://www.zold.io/map.html I'll see only the Zold icon at the bottom of the page.

From the chat(https://t.me/zold_io) I have this description:

Needs to fix it.

[2019-07-12 06:00] 0crat commented on #128
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-12 06:00] 0crat commented on #128
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUFVA8H) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-12 06:03] aivinog1 commented on #128
Also in the console of my browser, I see this: ReferenceError: google is not defined map.js:97:13

[2022-09-07 08:06] golyalpha opened #130 "Redirect loop between HTTP and HTTPS"
On health.html and map.html pages, JS seems to redirect the user to HTTP, but the server forces a redirect to HTTPS, resulting in a redirect loop.